*{
    margin:0;
    padding:0;
}
body
{
background-image:url("gallery/bg.jpg");
background-size: cover;
background-attachment: fixed;
}
#feature
{
     
    width:100%;
    padding: 70px 0;
}
.banner{
    
    height: 100vh;
    background-image: url("gallery/Home.jpg");
    background-size: cover;
    overflow: hidden;
    background-color: #000000;
    background-position: center top;
    background-attachment: scroll;
}

a{
    text-decoration: none;
    color: #9C0F48;
    font-family: 'Delius', handwriting;
}

.title-text p
{
    color: #000000;
}
.title-text p::after
{
    content:'';
    width:50px ;
    height: 35px;
    background: linear-gradient(#009658,#fff);
    position: absolute;
    top:-20px;
    left:0;
    z-index:-1;
    transform: rotate(10deg);
    border-top-left-radius:35px;
    border-bottom-right-radius: 35px;
}
.title-text h1
{
    font-size: 50px;
    text-decoration: underline;
}
.brown-clr{
    color:#69564b;
    font-family: 'Delius', handwriting;
}
.red-clr{
    color: #d34d34;
font-family: 'Kaushan Script', cursive;
}
@media (min-width:480px) {
    .brown-clr{
        font-size: 4rem;
    }
    .red-clr{
        font-size: 3rem;
    }
    
}
.black-bg{
background-color: #000000;
text-align: center;
color: #04d9ff;
border-color: #04d9ff;
border-radius: 9px;
border-width: 3px;
}
.tile{
    background-size: 100% 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
 }
.service-box1
{
    width: 80%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:auto;
    background: transparent;
}
.single-service1
{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service1 img
{
    width:100%;
    border-radius:7px;
    height: 100%;
    border-radius: 5px;
    box-shadow:0px 10px 20px 3px #00968814;
}
.overlay
{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 7px;
    cursor:pointer;
    background: linear-gradient(rgba(0,0,0,0.5),aqua);
    opacity: 0;
    transition: 1s;
}
.single-service1:hover .overlay
{
    opacity:1 ;
}
.service-desc
{
    width: 80%;
    position: absolute;
    bottom:0;
    left: 50%;
    transform:translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr
{
    background:#fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width:60%;
}
.single-service1:hover .service-desc
{
    bottom:40%;
    opacity: 1;
}
@media screen and (max-width:770px)
{
    .single-service1
    {
        flex-basis: 100%;
        margin-bottom:30px;
    }

}

#btn a
{
    text-decoration: none;
    text-align: center;
    
}


h3
{
    color: #FFEDDB;
}
.Chef-selection
{
    border: 1px solid black;
    position: relative;
    margin-right: 350px;
    margin-left: 350px;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 20px;
    
    border-color: #04d9ff;
    border-width: 3px;
}

.Chef-selection:hover
{
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


.buttons {
    display: flex;
    flex-direction: column;
}

@media (max-width: 965px) {
    .Chef-selection {
        background-color: #000000;
        border: 1px solid black;
        border-radius: 10px;
        display: inline-block;
        padding: 15px 30px;
        margin: 15px 0;
        max-width: fit-content;  
        align-items: center; 
        min-width: 290px;
    }

    .buttons {
        align-items: center;
    }
.title-text p{
background-color: #000000;
}
    /* .Chef-selection:hover {
        background: linear-gradient(#9C0F48,#ECB390);
    } */

    
}
@media  (min-width: 480px) and (max-width: 965px) { 
   .tile{
       height: 300px;
   } 
  
}


/*------REVIEWS----*/

#testimonial
{
    width: 100%;
    padding: 70px 0;
}
.title-text p
{
    color: #FDEFF4;
}
.testimonial-row
{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap;
}
.testimonial-col
{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom:30px;
    border-radius: 5px;
    box-shadow:0px 10px 20px 3px #00968814;
    cursor: pointer;
    transition:transform 0.5s;
    background-color: white;
}
.testimonial-col p
{
    font-size: 14px;
}
.user
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img
{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa-brands fa-twitter
{
    margin-left:10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small
{
    color: blue;
}
.testimonial-col:hover
{
    transform: translateY(-7px);
}
@media screen and (max-width:770px)
{
    .testimonial-col
    {
        flex-basis: 100%;
    }
}